@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* reset dei margini */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* debug  */
/* .container {
  background-color: pink;
}
.container .row [class*="col-"] {
  height: 150px;
  position: relative;
  border: 1px solid black;
}
#deployments > .row {
  height: 300px;
}
.container .row [class*="col-"] > .row {
  height: 100%;
  background-color: lightcoral;
}
.container > .row [class*="col-"] > .row > [class*="col-"] {
  height: 100%;
  border-color: white;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
/* /debug */

/* stili generali */
body {
  font-family: Poppins, Roboto, sans-serif;
  letter-spacing: 0.04em;
}
main {
  margin-top: 60px;
}
section {
  padding: 100px 0;
}
p {
  color: #5b6987;
  font-size: 16px;
}
a {
  color: #006aff;
  font-weight: 500;
}
a:hover,
a:focus {
  color: #3333ff;
  text-decoration: none;
}
h1, h2, h3, h4, h5 {
  color: #031b4e;
  font-weight: 600;
  margin-bottom: 20px;
}
h1 {
  font-size: 50px;
}
.my_bg_grey {
  background-color: #f3f5f9;
}
.my_font_white {
  color: #fff;
}
.my_text_center {
  text-align: center;
}
.my_subtitle_lg {
  font-size: 24px;
  line-height: 1.5;
}
.my_subtitle {
  font-size: 20px;
}

/* button custom */
.my_button {
  color: #006aff;
  background-color: #fff;
  border: 1px solid #006aff !important;
  border-radius: 5px;
  font-weight: bold;
  padding: 7px 20px;
}
.my_button:hover,
.my_button:focus {
  color: #fff;
  background-color: #006aff;
  transition: 0.5s;
}

/* button Google custom */
.my_button_google {
  width: 100%;
  margin-bottom: 10px;
  padding: 7px 0;
  color: #006aff;
  background-color: #fff;
  border: 1px solid #006aff;
  border-radius: 5px;
}
.my_button_google:hover {
  color: #000;
  border: 1px solid #000;
  transition: 0.5s;
}

/* card custom */
.my_card {
  margin-bottom: 25px;
}

/* tabs custom */
.my_tabs {
  list-style-type: none;
  overflow: hidden;
  width: 100px;
}
.my_tabs li {
  float: left;
  padding: 20px;
  border-left: 2px solid lightgrey;
}
.my_tabs li:hover {
  border-left: 2px solid #006aff;
  cursor: pointer;
}
.my_tabs a {
  color: #5b6987;
}
.my_tabs li:hover a {
  color: #031b4e;
}

/* carousel custom */
.my_carousel {
  text-align: center;
}
.my_carousel img {
  width: 80%;
}
.my_carousel p {
  margin-top: 30px;
}
.my_carousel a {
  font-size: 0.7em;
  padding: 0 5px;
}
.my_carousel .my_slider a {
  font-size: 2em;
}

/* social custom */
.my_social {
  font-size: 2rem;
  margin-bottom: 20px;
}
.my_social a {
  display: inline-block;
  padding: 0 0.5rem;
}

/* presentazione sezioni */
.my_presentation {
  margin-bottom: 50px;
  text-align: center;
}

/* header */
/* ridefinizione stile navbar */
header .navbar {
  min-height: 60px;
  padding-top: 5px
}
header .navbar-fixed-top {
  border-color: #fff;
  background-color: #fff;
}
header .navbar-fixed-top a:hover,
header .navbar-fixed-top a:focus {
  color: #006aff !important;
}
header .navbar-brand {
  padding: 10px 10px 10px 40px;
}
header .navbar-brand img {
  height: 30px;
}
header .navbar-nav {
  padding-left: 50px;
}
header .navbar-collapse a {
  color: #031b4e !important;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
}
header .navbar-right {
  padding-right: 40px;
}
header .navbar-right .my_button {
  margin: 7px 0;
}

/* jumbotron */
#jumbotron {
  min-height: 800px;
  background-image: url("../digitalocean-assets/img/jumbo.svg");
  background-size: cover;
  background-position: center;
}
#jumbotron .my_jumbo {
  margin: 20% 10% 0 0;
}
#jumbotron .my_account {
  margin: 20% auto;
  padding: 10px 20px 20px 20px;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
}
#jumbotron .my_account h4:last-of-type {
  color: #006aff;
}
#jumbotron .my_account input {
  width: 100%;
  height: 3em;
  margin-bottom: 10px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
#jumbotron .my_button {
  background-color: #006aff;
  color: #fff;
}
#jumbotron .my_button:hover {
  background-color: #fff;
  color: #006aff;
}

/* customers */
#customers {
  padding: 60px 0;
  text-align: center;
}
#customers h5 {
  text-transform: uppercase;
  color: #5b6987;
  margin-bottom: 30px;
}
#customers .my_img_customers {
  display: inline-block;
}
#customers .my_img_customers img {
  height: 77px;
}
#customers [class*="col-"] div:last-of-type {
  font-size: 18px;
  margin-top: 30px;
}

/* deployments */

/* carousel 1-2 */

/* features */

/* service */
#service {
  background-color: #031b4e;
  background-image: url("../digitalocean-assets/img/data-center-map.svg");
  background-position: center;
  background-size: cover;
}
#service table tr {
  border-bottom: 1px solid #fff;
}
#service table tr td {
  border-top: 0;
  padding: 10px 0;
}
#service table tr td:first-of-type {
  width: 15%;
}
#service table tr td:last-of-type {
  width: 30%;
  text-align: right;
}

/* account */
#account {
  padding: 60px 0;
  background-image: url("../digitalocean-assets/img/bg-home-cta.svg");
  background-size: cover;
  /* background-image: linear-gradient(0deg, #001e9a, #0048c5); */
  text-align: center;
}
#account .my_button {
  padding: 15px 20px;
}
#account .my_button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* footer */
footer {
  background-color: #031c4e;
  padding: 50px 0;
  color: hsla(0,0%,100%,0.5);
}
footer h5 {
  color: hsla(0,0%,100%,1);
}
footer img {
  padding-bottom: 10px;
}
footer a {
  color: hsla(0,0%,100%,0.5);
}
footer a:hover {
  color: hsla(0,0%,100%,1);
}
#copy {
  margin-bottom: 20px;
}
footer ul {
  list-style-type: none;
  margin-bottom: 25px;
}
footer ul li {
  padding: 5px 0;
}

/* media query */
@media (max-width: 767px) {
  section {
    padding: 50px 0;
  }
  h1 {
    font-size: 40px;
  }
  .my_slider a {
    display: none;
  }
  #jumbotron .my_jumbo,
  #jumbotron .my_account {
    margin: 0 auto;
    text-align: center;
  }
  .my_tabs {
    width: 100%;
    margin: 0 auto 25px auto;
    text-align: center;
  }
  .my_tabs li {
    width: 20%;
    padding: 20px 0;
    border-left: 0;
    border-bottom: 2px solid lightgrey;
  }
  .my_tabs li:hover {
    border-left: 0;
    border-bottom: 2px solid #006aff;
  }
  footer {
    text-align: center;
  }
}
@media (min-width:768px) and (max-width: 991px) {
  h1 {
    font-size: 40px;
  }
}
@media (max-width: 1199px) {
  #customers .my_img_customers {
    width: 300px;
  }
}
@media (min-width: 1200px) {
  #customers .my_img_customers {
    width: 185px;
  }
}
/* collasso navbar a partire da 991px in giù */
/* Stack Overflow */
@media (max-width: 1199px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}
