@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* reset dei margini */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
}
/* debug  */
.container {
  background-color: pink;
}
.container .row [class*="col-"] {
  height: 150px;
  position: relative;
  border: 1px solid black;
}
#deployments > .row {
  height: 300px;
}
.container .row [class*="col-"] > .row {
  height: 100%;
  background-color: lightcoral;
}
.container > .row [class*="col-"] > .row > [class*="col-"] {
  height: 100%;
  border-color: white;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* /debug */
